{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<style>
    body {
        font-size: 1.2em;
    }
</style>

<h2 style="color:darkred; font-weight:bold; font-size:1.8em;">Great job, almost done!</h2>
<br>
<p>
    The next few pages contain some questions about you.
    There are no right or wrong answers. Please choose the option that best expresses
    your opinion of whether each statement
    <span style="color:darkred; font-weight:bold;">applies to you</span>.
</p>
<br>

<p><em>I see myself as someone who&hellip;</em></p>

<table class="table table-bordered">
    <colgroup>
        <col style="width: 40%;">
        <col style="width: 12%;">
        <col style="width: 12%;">
        <col style="width: 12%;">
        <col style="width: 12%;">
        <col style="width: 12%;">
    </colgroup>

    <thead>
        <tr>
            <th style="text-align:center; vertical-align:middle;"></th>
            <th style="text-align:center; vertical-align:middle;">Strongly disagree</th>
            <th style="text-align:center; vertical-align:middle;">Disagree</th>
            <th style="text-align:center; vertical-align:middle;">Neither agree nor disagree</th>
            <th style="text-align:center; vertical-align:middle;">Agree</th>
            <th style="text-align:center; vertical-align:middle;">Strongly agree</th>
        </tr>
    </thead>

    <tbody id="big5-tbody">
        <tr>
            <td style="vertical-align:middle;">&hellip;is reserved.</td>
            {% for choice in form.big5_1 %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td style="vertical-align:middle;">&hellip;is generally trusting.</td>
            {% for choice in form.big5_2 %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td style="vertical-align:middle;">&hellip;tends to be lazy.</td>
            {% for choice in form.big5_3 %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td style="vertical-align:middle;">&hellip;is relaxed, handles stress well.</td>
            {% for choice in form.big5_4 %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td style="vertical-align:middle;">&hellip;has few artistic interests.</td>
            {% for choice in form.big5_5 %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td style="vertical-align:middle;">&hellip;is outgoing, sociable.</td>
            {% for choice in form.big5_6 %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td style="vertical-align:middle;">&hellip;tends to find fault with others.</td>
            {% for choice in form.big5_7 %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td style="vertical-align:middle;">&hellip;does a thorough job.</td>
            {% for choice in form.big5_8 %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td style="vertical-align:middle;">&hellip;gets nervous easily.</td>
            {% for choice in form.big5_9 %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td style="vertical-align:middle;">&hellip;has an active imagination.</td>
            {% for choice in form.big5_10 %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td style="vertical-align:middle;">&hellip;is sure that my answers to these questions describe me accurately.</td>
            {% for choice in form.big5_accuracy %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td style="vertical-align:middle;">&hellip;enjoys competing with others.</td>
            {% for choice in form.competitiveness %}
                <td style="text-align:center; vertical-align:middle;">{{ choice }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<script>
(function () {
    const tbody = document.getElementById('big5-tbody');
    if (!tbody) return;
    const rows = Array.from(tbody.children);
    for (let i = rows.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        tbody.insertBefore(rows[j], rows[i + 1] || null);
        rows.splice(j, 1);
    }
})();
</script>

<br>
{{ next_button }}

{% endblock %}
