{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<style>
    .form-group > label:empty { display: none; }
    .form-group { margin-top: 0; }
</style>
<h3 style="color:darkred; font-weight:bold;">End of period {{ period }}</h3>
<br>
<p>
    Please answer the following questions about your experience during this period.
</p>

<p>
    How much did you enjoy the
    <strong style="color:darkred;">main cognitive ability task</strong>
    (i.e., pattern completion task)?
</p>
{{ formfield player.task_enjoyment }}

<p>
    How satisfied are you with your payment of
    <strong style="color:darkred;">&euro;{{ period_earnings }}</strong>
    from the <strong style="color:darkred;">main cognitive ability task</strong>?
</p>
{{ formfield player.payment_satisfaction }}

{{ next_button }}
{% endblock %}
