{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<h3 style="color:darkred; font-weight:bold;">Period {{ period }} performance estimate</h3>
<br>

<p>
    Imagine 100 other participants who
    <strong style="color:darkred;">answered the same ten questions</strong>
    that you just did.
    How do you think
    <strong style="color:darkred;">your performance</strong>, in terms of the number of questions answered correctly,
    <strong style="color:darkred;">ranks</strong>
    compared to these 100 other participants?
</p>
<p>
    Enter a number from 0 to 100. For example:
    <br>&nbsp;&nbsp;&bull; <strong style="color:darkred;">0</strong> means you think everyone else did at least as well or better than you.
    <br>&nbsp;&nbsp;&bull; <strong style="color:darkred;">50</strong> means you think you did at least as well or better than half of the others.
    <br>&nbsp;&nbsp;&bull; <strong style="color:darkred;">100</strong> means you think you did at least as well or better than every other participant.
</p>
<p>
    You will be paid <strong style="color:darkred;">&euro;0.50</strong> if your answer is
    within 10 percentage points of the true percentile.
    The payment will come a few days after data collection is complete, so we can compare
    your answer against the true percentile.
</p>

{{ formfields }}
{{ next_button }}
{% endblock %}
